* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  width: 100%;
  height: 100%;
}

 body {
  width: 100%;
  height: 100%;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
}

header {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 0.02rem;
}

main {
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem;
}

.login-section,
.signup-section {
  background-color: white;
  padding: 1.5rem;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 1.5rem;
}

.password-list,
.add-password {
  background-color: white;
  padding: 1.5rem;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 1.5rem;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
  padding: 0.5rem 0;
}

.add-password form {
  display: grid;
  gap: 1rem;
}

h2 {
  margin-top: 0;
}

form {
  display: grid;
  gap: 1rem;
}

label {
  font-weight: bold;
}

input[type="text"],
input[type="password"] {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 3px;
  width: 100%;
}

button {
  background-color: #605a5a;
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

button:hover {
  background-color: #555;
}

/* HOME */


.content{
  display: flex;
  position: relative;
  background-color:rgb(240, 243, 243);
  width: 80%;
  height: 100%;
  margin-left: 220px;
}
.sidebar {
  height: 100%;
  width: 12%;
  background-color: #333;
  color: #fff;
  padding-top: 20px;
  position: absolute;
}

.sidebar a {
  display: block;
  padding: 30px 30px;
  text-decoration: none;
  color: #fff;
}

footer {
  text-align: center;
  padding: 10px;
  background-color: rgb(240, 243, 243);
  color: rgb(0, 0, 0);
  position: relative;
}

.top{
  background-color: #fff;
  height: 10;
}

.card{
  background-color: #adadad;
  height: 100%;
  width: 85%;
  margin: 70px 0px 5px 50px;
  padding: 10px
}

.row{
  height: 30%;
  width: 50%;
}